<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/styles/hotel.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600&display=swap&family=Roboto:wght@500&display=swap" rel="stylesheet">

    <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />

  </head>
  <div id="user" data-user="<%= JSON.stringify(user) %>"></div>
  <body>
    <header class="header" id="home">

      <nav>
          <div id="logo">
              <a href="/" class="header__logo"><img src="/images/logo_hotels.png" class= "logo"></a>
          </div>

          <div id="links">
              <a href="#home" class="nav__link">Home</a>
              <a href="#hotel" class="nav__link">Hotel</a>
              <a href="#about" class="nav__link">About</a>
              <a href="#contact" class="nav__link">Contact</a>
              
              <select name="language" class="language">
                  <option value="en">EN</option>
                  <option value="ru">RU</option>
              </select>

          <% if (user != null) {  %>
            <a href="/auth/logout?dest=hotel/<%= hotel.id %>" class="nav__link" style="color:#975B02;"><b>Log Out</b></a>
            <div class="user_pic">
                <p><%= user.username[0].toUpperCase()%></p>
            </div>
                <% }else{  %>
                    <a href="/auth/signup" class="nav__link" style="color:black;"><b>Sign Up</b></a>
                    <a href="/auth/login" class="nav__link" style="color: #975B02;"><b>Log In</b></a>
                    <% } %>
          </div>
      </nav>

      <div class="background_img"></div>
  </header>

  <div id="popup" class="hidden">
    <p>You have to be logged in!</p>
  </div>

  <div class="hotels" id="hotel">
      
    <div class="filterDiv">

      <div class="searchForm">
          
          <div class="roomsDiv">
            <input type="text">
          </div>

          <div class="dateDiv">
            <input type="text" name="daterange" readonly/>
          </div>

          <div class="priceDiv">
            <div class="totalPrice">$ <span id="totalPriceVal"><%=hotel.price_per_night%></span></div>
          </div>

          <div class="btnDiv">
            <button id="submitBtn">SUBMIT</button>
          </div>
      </div>

    </div>
  </div>

  <div id="payment-modal" class="modal-overlay">
    <div class="modal-content">
      <div class="heading-text"><h3>Secure         Payment</h3></div>
      <div class="row-wrapper">
        <div class="cards">CREDIT /DEBIT CARD</div>
        <div class="cards-img">
          <img src="/images/visa 1.png" width="42px" height="30px" alt="" />
          <img
            src="/images/credit-card 1.png"
            width="42px"
            height="30px"
            alt=""
          />
          <img
            src="/images/american-express.png"
            width="42px"
            height="30px"
            alt=""
          />
          <img src="/images/discover.png" width="42px" height="30px" alt="" />
        </div>
      </div>
      <div id="payment-status">Payment status: pending</div>
      <form action="/charge" method="post">
        <div class="card-number">
          <label for="card-number">
            <span class="description"> Card Number </span>
            <span class="red">*</span></label
          >
          <input
            type="text"
            id="card-number"
            name="cardNumber"
            placeholder="**** **** **** ****"
            required
            class="full-width"
          />
        </div>
        <div class="row-inputs">
          <div class="name">
            <label for="card-name">
              <span class="description"> Cardholder Name </span
              ><span class="red">*</span></label
            >
            <input
              type="text"
              id="card-name"
              name="cardName"
              placeholder="John Doe"
              required
              class="name-width"
            />
          </div>
          <div class="expiry">
            <label for="card-expiry">
              <span class="description"> Expiration Date </span
              ><span class="red">*</span></label
            >
            <input
              type="text"
              id="card-expiry"
              name="cardExpiry"
              placeholder="MM / YY"
              required
            />
          </div>
          <div class="cvc">
            <label for="card-cvc">
              <span class="description"> CVC/CVV </span
              ><span class="red">*</span></label
            >
            <input
              type="text"
              id="card-cvc"
              name="cardCVC"
              placeholder="***"
              required
            />
          </div>
          <div class="amount">
            <label for="amount">
              <span class="description"> Amount (in USD) </span
              ><span class="red">*</span></label
            >
            <input
              type="number"
              id="amount"
              name="amount"
              min="1"
              max="10000"
              step="0.01"
              required
            />
          </div>
        </div>
        <div class="btns">
          <button id="close-modal">Go Back</button>
          <button type="submit">Pay Now</button>
      </form>

      </div>
    </div>
  </div>

</body>

<script>
var user = JSON.parse(document.getElementById('user').getAttribute('data-user'));
const submitBtn = document.getElementById("submitBtn");

let days = 0
let rooms = 0

let totalPrice = document.getElementById("totalPriceVal");
let pricePerNight = parseInt(totalPrice.textContent);

// buttonDone.addEventListener("click", () => {
//   rooms = parseInt(counter1.textContent);

//   let priceValue = Number(totalPrice.textContent)
//   priceValue = 0
    
//   if(days == 0){
//     for (let i = 0; i < rooms; i ++) {
//       priceValue += pricePerNight
//     }  
//   }else{
//     priceValue = rooms * pricePerNight * days
//   }

//   totalPrice.textContent = priceValue;

// });


let startDate 
let endDate

  $(function() {
    var currentDate = moment();
    var endDate = moment(currentDate).endOf('month');

    $('input[name="daterange"]').daterangepicker({
        opens: 'right',
        startDate: moment(),
        endDate: moment(),
        locale: {
          format : "ddd D MMM"
        },
    }, function(start, end, label) {
        startDate = new Date (start.format('YYYY-MM-DD'))
        endDate = new Date(end.format('YYYY-MM-DD'))

        const difference = endDate.getTime() - startDate.getTime();

        days = Math.round(difference / (1000 * 60 * 60 * 24));

        let tempPrice = 0
        if(rooms == 0){
          for (let i = rooms; i < days; i ++){
            tempPrice += pricePerNight
          }  
        }else{
          tempPrice = rooms * pricePerNight * days
        }

        totalPrice.textContent = tempPrice
    });
  });

submitBtn.addEventListener("click", async function () {
  const modal = document.getElementById("payment-modal");
  const form = document.querySelector("form");

  const closeBtn = document.getElementById("close-modal");
  closeBtn.addEventListener("click", function () {
      modal.style.display = "none";
    });

  if(user){
    modal.style.display = "block";

    form.addEventListener("submit", async (e) => {
      e.preventDefault()
      const formData = new FormData(form);

      const response = await fetch("/charge", {
        method: "POST",
        headers: {
          "Content-Type": "application/json",
        },
        body: JSON.stringify({
          cardNumber: formData.get("cardNumber"),
          cardExpiry: formData.get("cardExpiry"),
          cardCVC: formData.get("cardCVC"),
          cardName: formData.get("cardName"),
          amount: formData.get("amount"),
        }),
      });
      const paymentStatus = document.querySelector("#payment-status");
      const data = await response.json();
      if (data.status === "succeeded") {      
        paymentStatus.innerHTML = "Payment was successful!";
      } else {
        paymentStatus.innerHTML = "Payment failed. Please try again.";
      }
    })

  }else{
    const popup = document.getElementById('popup');

    function signInFirst () {
      popup.style.display = "block";

      setTimeout(function(){
        popup.style.display = "none";
      }, 1500)
    }
    signInFirst()
  }
});
</script>
</html>