* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body {
  background-size: cover;
  max-width: 100vw;
}

/* ALIZHAN'S HEADER */

header {
  height: 100vh;
  /* width: 100vw; */
  outline: 1px solid black;
}

.header-logo img {
  width: 100%;
}
nav {
  height: 13%;
  max-width: 100vw;
  display: flex;
  position: relative;
  justify-content: space-between;
  padding-inline: 20px;
  align-items: center;
}

#logo img {
  width: 100%;
}

#links {
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.nav__link {
  font-weight: 500;
  font-size: 20px;
  text-decoration: none;
  color: black;
  font-family: "Montserrat", sans-serif;
  transition: 0.3s;
}

.nav__link:hover {
  color: #975b02;
}

.logo {
  width: 80px;
  height: 80px;
}

.account__page {
  width: 60px;
}

.user_pic {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: 1px solid black;
  border-radius: 50%;
  background-color: lightblue;
  width: 60px;
  height: 60px;
  text-align: center;
}

.user_pic p {
  font-family: "Roboto", sans-serif;
  /* position: absolute; */
  font-size: 30px;
}

.language {
  /* border: none; */
  font-size: 20px;
  padding: 10px;
}
/* 
.hotengine-shop-select-language-box { display:inline-block; width:71px; height:30px; overflow:hidden; border:none; background:#fff; line-height:30px; position:relative; top: 15px; z-index:1000; }
.hotengine-shop-select-language { display:inline-block; width:71px; text-align:center;  }
.hotengine-shop-select-language-values { display:inline-block; width:69px; vertical-align: top; position:absolute; background:rgba(255, 255, 255, 0.80); left:2px; }
.hotengine-shop-select-language-box:hover{ overflow:visible;}
.hotengine-shop-select-language-values:hover .hotengine-shop-select-language-val{ position:relative; }
.hotengine-shop-select-language-val { width:39px; display:block; margin:0px; padding: 0px 17px; vertical-align:top; cursor:pointer; margin-left:-3px; text-align:center; }
.hotengine-shop-select-language-val:hover {background:#e8e8e8;} */

.background_img {
  height: 87%;
  background-image: url("/images/background__home__page.png");
  background-size: cover;
  outline: 1px solid black;
}

/* HOTELS FILTRATION */

.hotels {
  width: 100%;
  height: 100%;
  position: relative;
}

.filterDiv {
  width: 65vw;
  height: 13vh;
  padding: 10px;
  transform: translateY(-50%);
  margin: 0 auto;
  background-color: rgb(0, 0, 0, 0.4);
  border-radius: 12px;
  border: none;
}

.searchForm {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.searchForm .inputDiv {
  position: relative;
  width: 50%;
}

.searchForm input {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  width: 100%;
  padding: 22px 10px;
  border: none;
  border-radius: 5px 5px 0 0;
  background-color: #ffffff;
  font-size: 22px;
}

input:focus {
  outline: none;
  border: none;
}

.list {
  box-shadow: 0px 0px 1px black;
  list-style: none;
  background-color: #ffffff;
  border-radius: 0 0 5px 5px;
  position: absolute;
  width: 100%;
}

.list-items {
  font-family: "Montserrat", sans-serif;
  padding: 10px 5px;
}

.list-items:hover {
  background-color: #dddddd;
}

.starSelect {
  width: 30%;
  border-radius: 5px;
  font-size: 20px;
  height: 70%;
  border: none;
}

.searchForm button[type="submit"] {
  height: 70%;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  width: 13%;
  border-radius: 5px;
  color: white;
  background-color: #ff7500;
  border: none;
}

.title {
  text-align: center;
  margin-bottom: 30px;
}

.hotel-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  height: 630px;
  justify-content: space-between;
  grid-template-columns: repeat(3, 1fr);
  gap: 60px;
  width: 70%;
  margin: 0 auto;
  overflow: scroll;
  padding: 5px;
}

::-webkit-scrollbar {
  width: 0px;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 5px;
}

.hotel-card {
  width: 300px;
  outline: 1px solid black;
  border-radius: 3px;
  height: 270px;
}
.card-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 8px;
  padding-bottom: 10px;
}
.stars {
  display: flex;
  width: 20px;
}
.stars img {
  width: 100%;
}
.hotel-card img {
  width: 100%;
}
#seeBtn {
  background-color: #ff7500;
  border-radius: 5px;
  border: none;
  color: white;
  width: 100px;
  height: 30px;
  margin-right: 10px;
  cursor: pointer;
}

.about {
  margin-top: 50px;
  height: 100vh;
  width: 100%;
  /* background-color: lightcoral; */
  padding-top: 20px;
  position: relative;
  outline: 1px solid black;
}

.about h1 {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.customers {
  height: 100vh;
  width: 100%;
  /* background-color: lightcoral; */
  padding-top: 20px;
  position: relative;
  outline: 1px solid black;
}

.customers h1 {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.footer {
  height: 50vh;
  width: 100%;
  /* background-color: lightcoral; */
  padding-top: 20px;
  position: relative;
  outline: 1px solid black;
}

.footer h1 {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
